// main: ../main.scss
/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
.faq {
  .faq-card {
    height: 100%;
    padding: 40px;
    background-color: color-mix(in srgb, var(--default-color), transparent 96%);
    border-radius: 8px;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    text-align: center;

    i {
      font-size: 48px;
      color: var(--accent-color);
      margin-bottom: 20px;
      display: block;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 25px;
      font-size: 15px;
      line-height: 24px;
      color: color-mix(in srgb, var(--default-color), transparent 30%);
    }

    .btn-primary {
      padding: 8px 20px;
      font-size: 16px;
      font-weight: 500;
      background-color: var(--accent-color);
      border-color: var(--accent-color);
      color: var(--contrast-color);

      &:hover {
        background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
        border-color: color-mix(in srgb, var(--accent-color), transparent 20%);
      }
    }
  }

  .faq-list {
    padding: 0;

    .faq-item {
      position: relative;
      margin-bottom: 25px;
      padding: 30px;
      background-color: var(--surface-color);
      border-radius: 8px;
      border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      h3 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        padding-right: 40px;
        margin-bottom: 0;
        position: relative;
        cursor: pointer;
      }

      .faq-content {
        display: grid;
        grid-template-rows: 0fr;
        transition: 0.3s ease-in-out;
        visibility: hidden;
        opacity: 0;

        p {
          margin-bottom: 0;
          font-size: 15px;
          line-height: 24px;
          overflow: hidden;
        }
      }

      .faq-toggle {
        position: absolute;
        right: 30px;
        top: 30px;
        font-size: 24px;
        color: var(--accent-color);
        transition: transform 0.2s ease;
      }

      &.faq-active {
        h3 {
          color: var(--accent-color);
        }

        .faq-content {
          grid-template-rows: 1fr;
          visibility: visible;
          opacity: 1;
          padding-top: 15px;
        }

        .faq-toggle {
          transform: rotate(45deg);
        }
      }
    }
  }

  @media (max-width: 768px) {
    .faq-list {
      .faq-item {
        padding: 20px;

        h3 {
          font-size: 16px;
          line-height: 24px;
        }

        .faq-toggle {
          right: 20px;
          top: 20px;
          font-size: 20px;
        }
      }
    }
  }
}